:root {
    --glow-rgb-1: 0 255 0;
    --glow-rgb-2: 252 113 186;
}

body {
    height: 100vh;
    overflow: hidden;
    cursor: default;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.star {
    position: absolute;
    z-index: 2;
    font-size: 1rem;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    pointer-events: none;
}

@keyframes fall-1 {
    0% {
        transform: translate(0px, 0px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(0.25);
        opacity: 0;
    }

    5% {
        transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg) rotateZ(90deg) scale(1);
        opacity: 0;
    }
}

@keyframes fall-2 {
    0% {
        transform: translate(0px, 0px) rotateX(-20deg) rotateY(10deg) scale(0.25);
        opacity: 0;
    }

    10% {
        transform: translate(-10px, -5px) rotateX(-20deg) rotateY(10deg) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(-10px, 160px) rotateX(-90deg) rotateY(45deg) scale(0.25);
        opacity: 0;
    }
}

@keyframes fall-3 {
    0% {
        transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
        opacity: 0;
    }

    15% {
        transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg) scale(0.5);
        opacity: 0;
    }
}
h1 {
    text-align: center; /* Center the text within the <h1> tag */
    position: absolute; /* Position the <h1> tag absolutely */
    top: 45%; /* Position the top of the <h1> tag at 50% of the screen height */
    left: 50%; /* Position the left of the <h1> tag at 50% of the screen width */
    transform: translate(-50%, 30%); /* Translate the <h1> tag up and left by 50% of its own height and width */
}


.swal-modal {
    -webkit-animation: slide-in-bck-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bck-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    background: rgba( 236, 151, 189, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 234, 61, 61, 0.61 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    font-family: "Roboto Light", "Inter Light", "Helvetica Neue", "Helvetica";
    font-style: normal;
}
@-webkit-keyframes swal-modal {
    0% {
        -webkit-transform: translateZ(600px);
        transform: translateZ(600px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
@keyframes swal-modal {
    0% {
        -webkit-transform: translateZ(600px);
        transform: translateZ(600px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

.swal-text {
    display: block;
    margin: 22px;
    text-align: justify;
    color: #ffffff;
}
.swal-title {
    display: block;
    margin: 22px;
    text-align: justify;
    color: #ffffff;
}

swal.content {
     font-size: 21px;
    font-family: "Roboto", "Inter Light", "Helvetica Neue", "Helvetica";
 }

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}
